<div class="container">
  <div class="row">
    <hr>
    <p>&copy; 2017-03-21 魏巍</p>
  </div>
</div>
</div>
<div style="display:none;" id="rocket-to-top">
  <div style="opacity:0;display: block;" class="level-2"></div>
  <div class="level-3">
</div>
<!-- 进度条 -->
<link href="/plug/pace/themes/pink/pace-theme-minimal.css" rel="stylesheet" />
<script src="/plug/pace/pace.js"></script>
<!-- 编辑器 --><!--
<link rel="stylesheet" href="/plug/simditor/styles/simditor.css">
<script type="text/javascript" src="/plug/simditor/scripts/module.js"></script>
<script type="text/javascript" src="/plug/simditor/scripts/hotkeys.js"></script>
<script type="text/javascript" src="/plug/simditor/scripts/uploader.js"></script>
<script type="text/javascript" src="/plug/simditor/scripts/simditor.js"></script>
<script type="text/javascript" src="/plug/simditor/scripts/simditor-mark.js"></script> -->
<!-- 分享 -->
<link rel="stylesheet" href="/plug/share.js/dist/css/share.min.css">
<script src="/plug/share.js/dist/js/jquery.share.min.js"></script>
<link rel="stylesheet" href="/plug/jquery.scrolltop/css/style.css">
<script src="/plug/jquery.scrolltop/js/sucaijiayuan.js" charset="utf-8"></script>
<script type="text/javascript">
$(function(){
  // let editor = new Simditor({
  //     textarea: $('textarea[name="content"]'),
  //     placeholder: '请在这里输入评论...',
  //     defaultImage: '/plug/simditor/images/image.png',
  //     upload:{
  //       url: '/uploadify/upload',
  //       params: null,
  //       fileKey: 'upload_file',
  //       connectionCount: 1,
  //       leaveConfirm: '正在上传图片你确定要离开吗?',
  //     }
  // });
  $('.share').share({sites: ['qzone', 'qq', 'weibo','wechat']});
});
</script>
</body>
</html>
