<div class="container">
  <div class="row">
    <hr>
    <p>&copy; 2017-03-21 魏巍</p>
  </div>
</div>
</div>
<div style="display:none;" id="rocket-to-top">
  <div style="opacity:0;display: block;" class="level-2"></div>
  <div class="level-3">
</div>
<!-- 进度条 -->
<link href="/plug/pace/themes/pink/pace-theme-minimal.css" rel="stylesheet" />
<script src="/plug/pace/pace.js"></script>
<link rel="stylesheet" href="/plug/jquery.scrolltop/css/style.css">
<script src="/plug/jquery.scrolltop/js/sucaijiayuan.js" charset="utf-8"></script>
<script type="text/javascript">
  $(function(){
      <%if(page.pageCount!=0){%>
        var options = {
             currentPage:<%=page.num%>,
             totalPages:<%=page.pageCount%>,
             numberOfPages:<%=page.numberOf%>,
             version:3,
             pageUrl: function(type, page, current){
               return "<%=_url%>/"+page;
             },
        }
        $('.page').bootstrapPaginator(options);
      <%}%>
  });
</script>
</body>
</html>
