<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/plug/beyond/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/plug/beyond/js/jquery-2.0.3.min.js"></script>
    <script src="/plug/beyond/js/bootstrap.min.js"></script>
    <script src="/scripts/app.js" charset="utf-8"></script>
    <!-- <script src="https://unpkg.com/vue@2.2.4/dist/vue.js" charset="utf-8"></script> -->
  </head>
  <body>
      <div class="navbar-jumbotron">
        <nav class="navbar navbar-inverse navbar-fixed-top"  drole="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/images/prometheus_logo_grey.svg" alt="Prometheus logo"> Prometheus</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav navbar-right main-nav">
                <li><a href="/docs/introduction/overview/">Docs</a></li>
                <li><a href="/download/">Download</a></li>
                <li><a href="/community/">Community</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="https://github.com/js-wei"><i class="fa fa-github"></i></a></li>
                <li><a href="tel:1358486592"><i class="fa fa-phone"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="jumbotron">
        <div class="container">
          <h1>From metrics to insight</h1>
          <p class="subtitle">Power your metrics and alerting with a leading<br>open-source monitoring solution.</p>
          <p>
            <a class="btn btn-default btn-lg" href="https://github.com/js-wei/node-blog" role="button">Get Started</a>
            <a class="btn btn-default btn-lg" href="https://github.com/js-wei/node-blog" role="button">Download</a>
          </p>
        </div>
      </div>
