<%include public/header.html%>
<div class="container clear-navbar-fixed">
    <div class="row">
        <ol class="breadcrumb">
          <li><i class="fa fa-map-marker"></i>&nbsp;首页</li>
          <li>文章</li>
          <li>铁总回应“高铁调价”票价有升降 服务将提升</li>
        </ol>
        <div class="col-md-8">
          <div class="article">
              <h1>铁总回应“高铁调价”票价有升降 服务将提升</h1>
              <p class="create"><i class="fa fa-calendar"></i>2017年03月24日 01:17:17 <i class="fa fa-eye"></i>260</p>
              <div class="col-md-12 text-right">
                <!-- <div class="">
                  <span class="">555</span>人参与 <span class="">40</span>评论
                </div> -->
                分享:<div class="share"></div>
              </div>
              <div class="clearfix"></div>
              <hr>
              <div class="main-content">
                <p>原标题：铁总回应“高铁调价”票价有升降 服务将提升</p>
                <p>4月21日起，依据《国家发展改革委关于改革完善高铁动车组旅客票价政策的通知》，我国东南沿海高铁的部分车票将调整。铁路总公司有关部门负责人称，部分铁路运输企业仍然出现亏损，调价有利于企业改善经营状况，提高服务水平。此次调价，票价有涨有降，服务只升不降。从调整后的票价看，在东南沿海高铁很多区段二等座票价仍明显低于公路。 (人民日报)</p>
                <p>检验员：听说铁路部门一直亏本运行的，还是能理解的。</p>
                <p>王宇琛：这么多年，房价涨了多少倍了，火车票价基本没变，涨个价怎么了？</p>
                <p>盛世名扬文化传媒：票价涨点可以，毕竟一直亏损。盒饭价格能降点吗？</p>
              </div>
              <div class="col-md-12 clear-square comment">
                  <div class="col-md-8 clear-square">网友评论</div>
                  <div class="col-md-4 clear-square text-right"><span class="text-danger">1909</span>条评论</div>
                  <div class="col-md-12 clear-square">
                    <textarea name="content"></textarea>
                  </div>
              </div>
              <div class="col-md-12 clear-square comment-list">
                  <h4>最新评论</h4>
                  <div class="comment-item">
                    <p><span class="text-primary">山南1海北</span> [山东省济南市网友]</p>
                    <p>还记得咱们的衣食父母吗？他们的粮食棉花种植一直以来就是亏损，各行各业都在涨，叫他们情何以堪！！</p>
                    <p>
                      <div class="col-md-4 clear-square">
                        2017-03-24 08:30
                      </div>
                      <div class="com-md-8 clear-square text-right">
                          <a href="#"><i class="fa fa-thumbs-o-up"></i>(100)</a>
                          <a href="#"><i class="fa fa-thumbs-o-down"></i>(10)</a>
                      </div>
                    </p>
                  </div>
                  <div class="comment-item">
                    <p><span class="text-primary">山南1海北</span> [山东省济南市网友]</p>
                    <p>还记得咱们的衣食父母吗？他们的粮食棉花种植一直以来就是亏损，各行各业都在涨，叫他们情何以堪！！</p>
                    <p>
                      <div class="col-md-4 clear-square">
                        2017-03-24 08:30
                      </div>
                      <div class="com-md-8 clear-square text-right">
                          <a href="#"><i class="fa fa-thumbs-o-up"></i>(100)</a>
                          <a href="#"><i class="fa fa-thumbs-o-down"></i>(10)</a>
                      </div>
                    </p>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-4 left">
          <div class="left-item">
            <h3 class="title-0">栏目推荐</h3>
            <ul>
              <li><a href="#">美轰炸机进入东海防空识别区 中方回应</a></li>
            </ul>
          </div>
          <div class="left-item">
            <h3 class="title-1">相关推荐</h3>
            <ul>
              <li><a href="#">美轰炸机进入东海防空识别区 中方回应</a></li>
            </ul>
          </div>
          <div class="left-item">
            <h3 class="title-2">随机推荐</h3>
            <ul>
              <li><a href="#">美轰炸机进入东海防空识别区 中方回应</a></li>
            </ul>
          </div>
       </div>
   </div>
</div>
<%include public/footer1.html%>
