<%include public/header1.html%>
<div class="container clear-navbar-fixed">
    <div class="row">
        <ol class="breadcrumb">
          <li><i class="fa fa-map-marker"></i>&nbsp;<a href="/">首页</a></li>
          <li><a href="javascript:void(0);">文章</a></li>
          <li><a href="javascript:void(0);"><%=a.title%></a></li>
        </ol>
        <div class="col-md-8">
          <div class="article">
              <h1><%=a.title%></h1>
              <p class="create"><i class="fa fa-calendar"></i>发布时间:<%=time(a.date)%> <i class="fa fa-eye"></i>阅读量:<%=a.hits%></p>
              <div class="col-md-12 text-right">
                <!-- <div class="">
                  <span class="">555</span>人参与 <span class="">40</span>评论
                </div> -->
                分享:<div class="share"></div>
              </div>
              <div class="clearfix"></div>
              <hr>
              <div class="main-content">
                <%-a.content%>
              </div>
              <div class="col-md-12">
                <div class="col-md-6 pager">
                  <%if(pre!=null){%>
                      上一条:<a href="/topic/<%=pre._id%>"><%=pre.title%></a>
                  <%}else{%>
                      上一条:没有了
                  <%}%>
                </div>
                <div class="col-md-6 pager">
                  <%if(nex!=null){%>
                      下一条:<a href="/topic/<%=nex._id%>"><%=nex.title%></a>
                  <%}else{%>
                      下一条:没有了
                  <%}%>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4 left">
          <div class="left-item">
            <h3 class="title-0">栏目推荐</h3>
            <ul>
              <recommend v-for="(item,i) in com" v-bind:item="item"  :key="item._id"></recommend>
            </ul>
          </div>
          <div class="left-item">
            <h3 class="title-1">相关推荐</h3>
            <ul>
              <%for(i in com){%>
                  <li><a href="/topic/<%=com[i]._id%>"><%=com[i].title%></a></li>
              <%}%>
            </ul>
          </div>
          <div class="left-item">
            <h3 class="title-2">随机推荐</h3>
            <ul>
              <round v-for="(item,i) in rounds" v-bind:item="item"  :key="item._id"></round>
            </ul>
          </div>
       </div>
   </div>
</div>
<%include public/footer1.html%>
<!-- <div class="col-md-12 clear-square comment">
    <div class="col-md-8 clear-square">网友评论</div>
    <div class="col-md-4 clear-square text-right"><span class="text-danger">1909</span>条评论</div>
    <div class="col-md-12 clear-square">
      <textarea name="content"></textarea>
    </div>
</div> -->
<!-- <div class="col-md-12 clear-square comment-list">
    <h4>最新评论</h4>
    <div class="comment-item">
      <p><span class="text-primary">山南1海北</span> [山东省济南市网友]</p>
      <p>还记得咱们的衣食父母吗？他们的粮食棉花种植一直以来就是亏损，各行各业都在涨，叫他们情何以堪！！</p>
      <p>
        <div class="col-md-4 clear-square">
          2017-03-24 08:30
        </div>
        <div class="com-md-8 clear-square text-right">
            <a href="#"><i class="fa fa-thumbs-o-up"></i>(100)</a>
            <a href="#"><i class="fa fa-thumbs-o-down"></i>(10)</a>
        </div>
      </p>
    </div>
    <div class="comment-item">
      <p><span class="text-primary">山南1海北</span> [山东省济南市网友]</p>
      <p>还记得咱们的衣食父母吗？他们的粮食棉花种植一直以来就是亏损，各行各业都在涨，叫他们情何以堪！！</p>
      <p>
        <div class="col-md-4 clear-square">
          2017-03-24 08:30
        </div>
        <div class="com-md-8 clear-square text-right">
            <a href="#"><i class="fa fa-thumbs-o-up"></i>(100)</a>
            <a href="#"><i class="fa fa-thumbs-o-down"></i>(10)</a>
        </div>
      </p>
    </div>
</div> -->
