<%include public/header.html%>
<div class="jumbotron">
  <div class="container">
    <h1>From metrics to insight</h1>
    <p class="subtitle">Power your metrics and alerting with a leading<br>open-source monitoring solution.</p>
    <p>
      <a class="btn btn-default btn-lg" href="https://github.com/js-wei/node-blog" role="button">Get Started</a>
      <a class="btn btn-default btn-lg" href="https://github.com/js-wei/node-blog" role="button">Download</a>
    </p>
  </div>
</div>
<script src="/plug/jquery.kxbdmarquee/js/jquery.kxbdmarquee.js" charset="utf-8"></script>
<div class="newsbar">
  <ul id="marquee">
    <li><a href="http://events.linuxfoundation.org/events/cloudnativecon-and-kubecon-europe">CloudNativeCon Europe 2017</a> (March 29–30) with a dedicated <a href="https://cloudnativeeu2017.sched.com/overview/type/Prometheus">Prometheus track</a>.</li>
    <li><a href="http://events.linuxfoundation.org/events/cloudnativecon-and-kubecon-europe">CloudNativeCon Europe 2017</a> (March 29–30) with a dedicated <a href="https://cloudnativeeu2017.sched.com/overview/type/Prometheus">Prometheus track</a>.</li>
    <li><a href="http://events.linuxfoundation.org/events/cloudnativecon-and-kubecon-europe">CloudNativeCon Europe 2017</a> (March 29–30) with a dedicated <a href="https://cloudnativeeu2017.sched.com/overview/type/Prometheus">Prometheus track</a>.</li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
      <a href="/docs/concepts/data_model/">
        <h2><i class="fa fa-flask"></i> Dimensional data</h2>
        <p>Prometheus implements a highly dimensional data model. Time series are identified by a metric name and a set of key-value pairs.</p>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
      <a href="/docs/querying/basics/">
        <h2><i class="fa fa-search"></i> Powerful queries</h2>
        <p>A flexible query language allows slicing and dicing of collected time series data in order to generate ad-hoc graphs, tables, and alerts.</p>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
      <a href="/docs/visualization/grafana/">
        <h2><i class="fa fa-line-chart"></i> Great visualization</h2>
        <p>Prometheus has multiple modes for visualizing data: a built-in expression browser, Grafana integration, and a console template language.</p>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
      <a href="/docs/operating/storage/">
        <h2><i class="fa fa-database"></i> Efficient storage</h2>
        <p>Prometheus stores time series in memory and on local disk in an efficient custom format. Scaling is achieved by functional sharding and federation.</p>
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 quote">
      <p class="quote-text text-center">
        «Even though Borgmon remains internal to Google, the idea of treating time-series data as a data source for generating alerts is now accessible to everyone through those open source tools like Prometheus [...]»
      </p>
      <p class="quote-source text-center">
        —<a href="http://shop.oreilly.com/product/0636920041528.do"><b>Site Reliability Engineering:</b> How Google Runs Production Systems</a> (O'Reilly Media)
      </p>
    </div>
  </div>
  <hr>
  <div class="row open-source">
    <div class="col-md-12 text-center">
      <h1><i class="fa fa-github"></i> Open Source</h1>
      <p>Prometheus is 100% open source and community-driven. All components are available under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2 License</a> on <a href="https://github.com/js-wei">GitHub</a>.</p>
      <iframe src="https://ghbtns.com/github-btn.html?user=js-wei&amp;repo=node-blog&amp;type=star&amp;count=true&amp;size=large" frameborder="0" scrolling="0" class="github-stars"></iframe>
      <br><br>
      <p>We are a <a href="http://jswei.cn/">Cloud Native Computing Foundation</a> member project.</p>
      <br>
      <p><a href="http://jswei.cn/"><img src="https://avatars1.githubusercontent.com/u/10104372?v=3&s=460"></a></p>
    </div>
  </div>
</div>
<%include public/footer.html%>
