<%include public/header.html%>
<div class="jumbotron">
  <div class="container">
    <h1>From metrics to insight</h1>
    <p class="subtitle">Power your metrics and alerting with a leading<br>open-source monitoring solution.</p>
    <p>
      <a class="btn btn-default btn-lg" href="https://github.com/js-wei/node-blog" role="button">Get Started</a>
      <a class="btn btn-default btn-lg" href="https://github.com/js-wei/node-blog" role="button">Download</a>
    </p>
  </div>
</div>
<div class="newsbar">
  <div id="marquee">
    <ul>
        <%for(i in arc){%>
            <li><a href="/topic/<%=arc[i]._id%>"><%=arc[i].title%></a></li>
        <%}%>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <arclist v-for="item in article" v-bind:article="item" :key="item._id"></arclist>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 quote">
      <p class="quote-text text-center">
        «本博客是使用<code>NodeJS</code>进行开发,部署在Linux系统中的,本博客系统主要是基于Express4.x和ejs模板引擎开发的.在前台数据的展示采用的是<code>Vue</code>框架进行显示的,使系统达到最优化 [...]»
      </p>
      <p class="quote-source text-center">
        —<a href="https://github.com/js-wei/node-blog"><b>获取源码:</b>https://github.com/js-wei/node-blog</a> (js-wei)
      </p>
    </div>
  </div>
  <hr>
  <div class="row open-source">
    <div class="col-md-12 text-center">
      <h1><i class="fa fa-github"></i> Open Source</h1>
      <p>Prometheus is 100% open source and community-driven. All components are available under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2 License</a> on <a href="https://github.com/js-wei">GitHub</a>.</p>
      <iframe src="https://ghbtns.com/github-btn.html?user=js-wei&amp;repo=node-blog&amp;type=star&amp;count=true&amp;size=large" frameborder="0" scrolling="0" class="github-stars"></iframe>
      <br><br>
      <p>We are a <a href="http://jswei.cn/">Cloud Native Computing Foundation</a> member project.</p>
      <br>
      <p><a href="http://jswei.cn/"><img src="https://avatars1.githubusercontent.com/u/10104372?v=3&s=460"></a></p>
    </div>
  </div>
</div>
<%include public/footer.html%>
