<%include public/header1.html%>
<div class="container clear-navbar-fixed">
    <div class="row">
      <ol class="breadcrumb">
        <li><i class="fa fa-map-marker"></i>&nbsp;<a href="/">首页</a></li>
        <li><a href="/category">列表</a></li>
        <li><a href="/category/<%=id%>"><%=id%></a></li>
      </ol>
      <!-- <div class="col-md-3 col-xs-6">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
              <span class="nav-header">
                <i class="fa fa-hand-o-right"></i>
                <a href="#">Introduction</a>
              </span>
              <ul class="nav active">
                <li class="active">
                  <a href="/docs/introduction/overview/">Overview</a>
                </li>
                <li>
                  <a href="/docs/introduction/install/">Installing</a>
                </li>
                <li>
                  <a href="/docs/introduction/getting_started/">Getting started</a>
                </li>
                <li><a href="/docs/introduction/comparison/">Comparison to alternatives</a></li>
                <li><a href="/docs/introduction/faq/">FAQ</a></li>
                <li><a href="/docs/introduction/roadmap/">Roadmap</a></li>
                <li><a href="/docs/introduction/media/">Media</a></li>
                <li><a href="/docs/introduction/glossary/">Glossary</a></li>
              </ul>
            </li>
            <li>
              <span class="nav-header">
                <i class="fa fa-flask"></i>
                <a href="#">Concepts</a></span>
                <ul class="nav">
                  <li><a href="/docs/concepts/data_model/">Data model</a></li>
                  <li><a href="/docs/concepts/metric_types/">Metric types</a></li>
                  <li><a href="/docs/concepts/jobs_instances/">Jobs and instances</a></li>
                </ul>
           </li>
        </ul>
      </div> -->
      <div class="col-md-12 col-xs-12">
          <%for(i in list){%>
            <div class="media">
              <div class="col-md-12 media-body">
                <h3 class="media-heading"><a href="/topic/<%=list[i]._id%>"><%=list[i].title%></a></h3>
                <p><i class="fa fa-user"></i> <%=list[i].author%> <i class="fa fa-eye"></i> <%=list[i].hits%> <i class="fa fa-calendar"></i> <%=time(list[i].date,'yyyy-MM-dd')%></p>
                <p>
                  <%=list[i].description%>
                </p>
              </div>
            </div>
          <%}%>
          <div class="page"></div>
      </div>
    </div>
</div>
<%include public/footer2.html%>
