<%include public/header.html%>
<div class="container clear-navbar-fixed">
    <div class="row">
      <ol class="breadcrumb">
        <li><i class="fa fa-map-marker"></i>&nbsp;首页</li>
        <li>列表</li>
        <li>Introduction</li>
      </ol>
      <div class="col-md-3">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
              <span class="nav-header">
                <i class="fa fa-hand-o-right"></i>
                <a href="#">Introduction</a>
              </span>
              <ul class="nav active">
                <li class="active">
                  <a href="/docs/introduction/overview/">Overview</a>
                </li>
                <li>
                  <a href="/docs/introduction/install/">Installing</a>
                </li>
                <li>
                  <a href="/docs/introduction/getting_started/">Getting started</a>
                </li>
                <li><a href="/docs/introduction/comparison/">Comparison to alternatives</a></li>
                <li><a href="/docs/introduction/faq/">FAQ</a></li>
                <li><a href="/docs/introduction/roadmap/">Roadmap</a></li>
                <li><a href="/docs/introduction/media/">Media</a></li>
                <li><a href="/docs/introduction/glossary/">Glossary</a></li>
              </ul>
            </li>
            <li>
              <span class="nav-header">
                <i class="fa fa-flask"></i>
                <a href="#">Concepts</a></span>
                <ul class="nav">
                  <li><a href="/docs/concepts/data_model/">Data model</a></li>
                  <li><a href="/docs/concepts/metric_types/">Metric types</a></li>
                  <li><a href="/docs/concepts/jobs_instances/">Jobs and instances</a></li>
                </ul>
           </li>
        </ul>
      </div>
      <div class="col-md-9">
          <div class="media">
            <div class="col-md-12 media-body">
              <h3 class="media-heading"><a href="#">Media heading</a></h3>
              <p><i class="fa fa-user"></i> 魏巍 <i class="fa fa-eye"></i> 250 <i class="fa fa-calendar"></i> 2017-03-24</p>
              <p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              </p>
            </div>
          </div>
          <div class="media">
            <div class="col-md-12 media-body">
              <h3 class="media-heading"><a href="#">Media heading</a></h3>
              <p><i class="fa fa-user"></i> 魏巍 <i class="fa fa-eye"></i> 250 <i class="fa fa-calendar"></i> 2017-03-24</p>
              <p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              </p>
            </div>
          </div>
          <div class="media">
            <div class="col-md-12 media-body">
              <h3 class="media-heading"><a href="#">Media heading</a></h3>
              <p><i class="fa fa-user"></i> 魏巍 <i class="fa fa-eye"></i> 250 <i class="fa fa-calendar"></i> 2017-03-24</p>
              <p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              </p>
            </div>
          </div>
          <div class="media">
            <div class="col-md-12 media-body">
              <h3 class="media-heading"><a href="#">Media heading</a></h3>
              <p><i class="fa fa-user"></i> 魏巍 <i class="fa fa-eye"></i> 250 <i class="fa fa-calendar"></i> 2017-03-24</p>
              <p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              </p>
            </div>
          </div>
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
        </nav>
      </div>
    </div>
</div>
<%include public/footer.html%>
