<%include ../public/header.html%>
<%include ../public/left.html%>
<div class="widget  radius-bordered">
    <div class="widget-header">
        <span class="widget-caption">消息操作</span>
    </div>
    <div class="widget-body">
        <form id="togglingForm" action="/admin/add_message" method="post" enctype="multipart/form-data" class="form-horizontal" autocomplete="off">
            <div class="form-group">
                <label class="col-lg-2 control-label">消息标题<sup>*</sup></label>
                <div class="col-lg-4">
                    <input type="text" name="title" value="<%=info.title%>" class="form-control" id="name" placeholder="消息标题"/>
                    <input type="hidden" name="id" value="<%=info._id%>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">消息地址</label>
                <div class="col-lg-4">
                    <input name="url" type="url" class="form-control" value="<%=info.url%>"  placeholder="消息地址" data-bv-uri-message="请输入正确的网址"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">消息描述</label>
                <div class="col-lg-4">
                    <textarea name="content" class="form-control" rows="6" placeholder="消息说明"><%=info.content%></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">排序</label>
                <div class="col-lg-2">
                    <input name="sorts" value="<%=info.sorts%><%if(info.sorts==null){%>100<%}%>" class="form-control" placeholder="消息排序"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">消息状态</label>
                <div class="col-lg-6">
                    <div class="radio pull-left">
                        <label>
                            <input name="status" type="radio" value="true" class="colored-success" <%if(info.status){%>checked="checked"<%}%> <%if(info._id==null){%>checked="checked"<%}%>>
                            <span class="text">是</span>
                        </label>
                    </div>
                    <div class="radio pull-left">
                        <label>
                            <input name="status" type="radio" value="false" class="colored-danger" <%if(!info.status){%>checked="checked"<%}%>>
                            <span class="text">否</span>
                        </label>
                    </div>
                    <div class="radio hide">
                        <label>
                            <input name="status" type="radio" class="colored-blueberry">
                            <span class="text"></span>
                        </label>
                    </div>
                </div>
            </div>
            <hr class="wide" />
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-2">
                    <button type="submit" class="btn btn-danger col-lg-2">提交</button>
                    <button type="button" class="btn btn-warning col-lg-2 ml10" onclick="window.history.go(-1);">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/plug/beyond/js/validation/bootstrapValidator.js"></script>
<script type="text/javascript">
    $(function(){
        $('#togglingForm').bootstrapValidator({
            message: '验证没有通过',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function (validator, form, submitButton) {
                var index = layer.load(2,{
                    shade: [0.4,'#000'] //0.1透明度的白色背景
                });
                $.post(form.attr('action'),form.serialize(),function(data){
                    layer.close(index);
                    if(data.status==1){
                        layer.alert(data.msg,{icon:6,end:function(){
                            location.href = data.redirect;
                        }});
                    }else {
                        layer.alert(data.msg,{icon:5});
                    }
                });
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: '请输入消息名称'
                        }
                    }
                }
            }
        })
        .find('button[data-toggle]')
        .on('click', function () {
            var $target = $($(this).attr('data-toggle'));
            $target.toggle();
            if (!$target.is(':visible')) {
                $('#togglingForm').data('bootstrapValidator').disableSubmitButtons(false);
            }
        });
    });
</script>
<%include ../public/footer.html%>
