$fontFamily:'Lato', sans-serif;
$fontSize:12px;
$fontColor:#111;
$baseColor:#fff #9d9d9d #e6522c  #111  !default;
$square:0px 5px 10px 15px 20px 25px;
$navbar:60px !default;
$headings: (0: darkred, 1:darkgreen, 2: #e6522c);

.clear-navbar-fixed {
  margin-top:$navbar*1.8;
}
.clear-square{
  margin:0px;
  padding:0px;
}
.navbar-jumbotron {
    .navbar-brand{
      margin-top:nth($square,4);
      height:$navbar;
      img{
          height:30px;
          display:inline;
          margin-top:-nth($square,2)-1;
          margin-right:nth($square,2)-2;
      }
    }
    .nav {
        min-height:$navbar;
        margin-top:nth($square,3);
        letter-spacing: 1px;
        font-family:$fontFamily;
        text-transform:capitalize;
        li.open{
          a{
            background-color:lighten(#101010,8%);
          }
        }
        li{
          a{
            font-size: $fontSize+4;
            position: relative;
            display: block;
            padding: 28px 15px;
            color:nth($baseColor,1);
            &:hover{
              color:nth($baseColor,2);
            }
          }
          .dropdown-menu{
            list-style: none;
            font-size: $fontSize+12;
            text-align: left;
            background-color:lighten(#101010,8%);
            li{
              a{
                padding:nth($square,3);
                color:nth($baseColor,1);
                padding-left:nth($square,4);
                &:hover{
                  color:nth($baseColor,2);
                  background-color:lighten(#101010,8%);
                }
              }
            }
          }
        }
    }
}
.jumbotron{
    background-color:nth($baseColor,3);
    background-image: url(../images/jumbotron-background-cb04e0f2d6d.png);
    text-align: center;
    font-family:$fontFamily;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
    margin-bottom:0px;
    padding: 90px 0;
    h1 {
        margin-top: 30px;
        font-size: 52px;
        font-weight: 300;
        color: #fff;
    }
    .subtitle {
        font-weight: 300;
        font-size: 32px;
        color: rgba(255,255,255,0.8);
        margin-bottom: 20px;
    }
    a.btn {
        border: none;
        background-color: rgba(0,0,0,0.15);
        color: #fff;
        padding: 20px 25px 20px 25px;
        margin: 15px 10px 0 10px;
        text-transform: uppercase;
    }
}
.newsbar{
    background-color:lighten($fontColor,85%);
    text-align: center;
    font-family:$fontFamily;
    height:80px;
    padding-top:20px;
    line-height:100px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 50px;
    div#marquee{
      height:25px;
      overflow:hidden;
      ul{
        list-style-type:none;
        li{
          float:left;
          padding:0 10px;
          line-height:25px;
          a{
              color:nth($baseColor,3);
              &:hover{
                  color:nth($baseColor,2)
              }
          }
        }
      }
    }
}
.feature-item {
    margin-top:20px;
    font-family:$fontFamily;
    font-weight: 300;
    cursor: pointer;
    min-height:250px;
    .fa {
        margin-right: 5px;
        color:nth($baseColor,3);
    }
    h2 {
        color: $fontColor;
        font-weight: 300;
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
    }
    a{
       text-decoration: none;
       color: none;
       margin-left:nth($square,3);
       p{
           font-size: 16px;
           line-height: 1.8em;
           text-rendering: optimizeLegibility;
           -webkit-font-smoothing: antialiased;
           color: $fontColor;
       }
    }
}
.feature-item.active{
  background-color:lighten(nth($baseColor,3),25%);
  h2.active{
    color:nth($baseColor,1)
  }
  a{
    p.active{
      color:nth($baseColor,1)
    }
  }
}
.quote{
    p.quote-text{
      margin: auto;
      font-size: $fontSize*2;
      font-style: italic;
      color: nth($baseColor,3);
    }
    p.quote-source{
      width: 60%;
      font-size: 16px;
      margin-top: 15px;
      margin-left: 50px;
    }
}
.open-source {
    margin: 25px 0 20px 0;
    font-family:$fontFamily;
    font-weight: 300;
    .github-stars {
        margin-top: 20px;
        width: 160px;
        height: 30px;
    }
}

.side-nav{
    border-right:1px solid lighten($fontColor,80%);
    li{
      font-size:$fontSize+2;
      font-family:$fontFamily;
      line-height:30px;
      span.nav-header{
         font-size:$fontSize*1.5;
         i{
           font-size:$fontSize*1.3;
         }
         a{
           color:nth($baseColor,3);
           text-decoration:none;
           text-transform:uppercase;
         }
      }
    }
    ul{
      display:none;
    }
    ul.active{
      display:block;
      li{
        a{
          color:lighten($fontColor,25%);
        }
      }
      li.active{
        border-left:2px solid nth($baseColor,3);
      }
    }
}

.media {
  border-bottom:1px solid lighten($fontColor,85%);
  .media-body{
    .media-heading{
        height:30px;
        a{
          color:nth($baseColor,3);
        }
    }
    p:nth-child(3){
      text-indent: 2em;
      line-height:2*$fontSize;
    }
  }
}
.article{
    h1{
      color:nth($baseColor,3);
      height:50px;
      line-height:50px;
      font-family:$fontFamily;
      font-size:$fontSize*2;
      border-left:3px solid lighten(nth($baseColor,3),35%);
      padding-left:10px;
    }
    p.create{
      i{
        margin-right:nth($square,2);
      }
    }
    .main-content{
      height:auto;
      min-height:250px;
      padding:nth($square,3);
      p{
        text-indent:2*$fontSize;
        line-height:2.5*$fontSize;
      }
    }
    .comment{
      .col-md-8{
          height:nth($square,4)*3;
      }
      .col-md-4{
        span{
          margin-right:5px;
          font-family:'georgia';
          font-size:$fontSize+7;
        }
      }
    }
    .comment-list{
        margin-top:nth($square,4);
        h4{
          padding-left:nth($square,2);
          border-left:2px solid nth($baseColor,3);
        }
        .comment-item{
            margin-top:nth($square,3);
            border-bottom:1px solid lighten(nth($baseColor, 2),33%);
            .text-right{
                font-family:'georgia';
                font-size:$fontSize+5;
                a{
                  color:lighten(nth($baseColor,4),50%);
                  &:hover{
                    //text-decoration:none;
                  }
                  i{
                    padding-right:nth($square,2);
                  }
                }
            }
        }
    }
}

.left{
    .left-item{
      h3{
        color:lighten(nth($baseColor,4),15%);
        height:40px;
        line-height:40px;
        padding-left:10px;
      }
      ul{
        margin:0px;
        padding:0px;
        li{
          list-style-type:none;
          line-height:25px;
          text-transform:capitalize;
          white-space:nowrap;
          text-overflow:ellipsis;
          a{
            color:nth($baseColor,4);
          }
        }
      }
      @each $index, $color in $headings {
        .title-#{$index} {
          border-left:2px solid lighten($color,20%);
        }
      }
    }
}
