<%include ../public/header.html%>
<%include ../public/left.html%>
<!-- Page Body -->
<div class="page-body">
  <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <div class="databox-left bg-themesecondary">
                    <div class="databox-piechart">
                        <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)" style="width: 47px; height: 47px; line-height: 47px;"><i class="stat-icon icon-lg fa fa-tasks"></i><canvas width="47" height="47"></canvas></div>
                    </div>
                </div>
                <div class="databox-right">
                    <span class="databox-number themesecondary"><%=col%></span>
                    <div class="databox-text darkgray"><a href="/column">栏目</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <div class="databox-left bg-themethirdcolor">
                    <div class="databox-piechart">
                        <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.2)" style="width: 47px; height: 47px; line-height: 47px;"><i class="stat-icon  icon-lg fa fa-comments"></i><canvas width="47" height="47"></canvas></div>
                    </div>
                </div>
                <div class="databox-right">
                    <span class="databox-number themethirdcolor"><%=comm%></span>
                    <div class="databox-text darkgray"><a href="/comment">新评论</a></div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <div class="databox-left bg-themeprimary">
                    <div class="databox-piechart">
                        <div id="users-pie" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)" style="width: 47px; height: 47px; line-height: 47px;"> <i class="fa fa-users"></i><canvas width="47" height="47"></canvas></div>
                    </div>
                </div>
                <div class="databox-right">
                    <span class="databox-number themeprimary">98</span>
                    <div class="databox-text darkgray"><a href="{:Url('user/index')}">新用户</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="databox radius-bordered databox-shadowed databox-graded">
                <div class="databox-left bg-themesecondary">
                    <div class="databox-piechart">
                        <div id="users-pie" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)" style="width: 47px; height: 47px; line-height: 47px;"> <i class="fa fa-shopping-cart"></i><canvas width="47" height="47"></canvas></div>
                    </div>
                </div>
                <div class="databox-right">
                    <span class="databox-number themesecondary">98</span>
                    <div class="databox-text darkgray"><a href="{:Url('order/index')}">订单</a></div>
                </div>
            </div>
        </div> -->
        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-6">
	        <div class="well with-header  with-footer">
	            <div class="header bg-blue">
	                系统详细信息
	            </div>
	            <table class="table table-hover">
	                <thead class="bordered-darkorange">
	                    <tr>
	                        <th>
	                            名称
	                        </th>
	                        <th>
	                            详情
	                        </th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td style="width:120px;">
	                            操作系统
	                        </td>
	                        <td>
	                            <%=os.type%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            开发语言
	                        </td>
	                        <td>
	                           NodeJS
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                           Node版本
	                        </td>
	                        <td>
	                            <%=os.node%>
	                        </td>
	                    </tr>
                      <tr>
                         <td>
                            数据库类型
                         </td>
                         <td>
                             MongoDB
                         </td>
                     </tr>
                     <tr>
                        <td>
                           数据库版本
                        </td>
                        <td>
                            <%=os.version%>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           数据库大小
                        </td>
                        <td>
                            <%=os.size%>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           Express版本
                        </td>
                        <td>
                            <%=os.express%>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           使用模板
                        </td>
                        <td>
                            <%=os.tpl%>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           模板版本
                        </td>
                        <td>
                            <%=os.vtpl%>
                        </td>
                     </tr>
                     <tr>
	                        <td>
	                           系统总内存
	                        </td>
	                        <td>
	                            <%=os.totalmem%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            闲置内存
	                        </td>
	                        <td>
	                            <%=os.freemem%>
	                        </td>
	                    </tr>
                      <tr>
                          <td>
                              开机时间
                          </td>
                          <td>
                              <%=os.uptime%>
                          </td>
                      </tr>
	                    <tr>
	                        <td>
	                            系统时间
	                        </td>
	                        <td id="sys-time">
                              <%=os.time%>
	                        </td>
	                    </tr>
	                </tbody>
                  <tfooter>
                    <tr>
                      <td colspan="2">
                        <code>系统信息只做参考</code>
                      </td>
                    </tr>
                  </tfooter>
	            </table>
	        </div>
	    </div>
	     <div class="col-xs-12 col-md-6">
	        <div class="well with-header  with-footer">
	            <div class="header bg-success">
	                程序详细信息
	            </div>
	            <table class="table table-hover">
	                <thead class="bordered-darkorange">
	                    <tr>
	                        <th>
	                            名称
	                        </th>
	                        <th>
	                            详情
	                        </th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td style="width:120px;">
	                            网站域名
	                        </td>
	                        <td>
	                           <%=site.url%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            网站名称
	                        </td>
	                        <td>
	                             <%=site.title%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                           网站关键词
	                        </td>
	                        <td>
	                            <%=site.keywords%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            网站描述
	                        </td>
	                        <td>
                              <%=site.description%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            轮播图
	                        </td>
	                        <td>
                             <%if(site.carousel!=1){%>
                                <label class="label label-success">已开启</label>
                            <%}else{%>
                              <label class="label label-danger">未开启</label>
                            <%}%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            轮播图调用数
	                        </td>
	                        <td>
	                            <%=site.num%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            友情链接
	                        </td>
                          <td>
                             <%if(site.flink!=1){%>
                                <label class="label label-success">已开启</label>
                             <%}else{%>
                              <label class="label label-danger">未开启</label>
                             <%}%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            分享
	                        </td>
                          <td>
                             <%if(site.is_shard!=1){%>
                                <label class="label label-success">已开启</label>
                            <%}else{%>
                              <label class="label label-danger">未开启</label>
                            <%}%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            联系方式
	                        </td>
	                        <td>
	                           固话:<%if(site.tel!=''){%><%=site.tel%>  <%}else{%> 未填写<%}%>
                             手机:<%if(site.phone!=''){%><%=site.phone%>  <%}else{%> 未填写<%}%>
                             传真:<%if(site.fax!=''){%><%=site.fax%>  <%}else{%> 未填写<%}%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            联系地址
	                        </td>
	                        <td>
	                           <%=site.address%>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            版权信息
	                        </td>
	                        <td>
                              <%=site.icp%><%=site.copyright%>
	                        </td>
	                    </tr>
	                </tbody>
                  <tfooter>
                    <tr>
                      <td colspan="2"><code>程序配置可以在设置中完成</code><a href="/admin/config">设置</a></td>
                    </tr>
                  </tfooter>
	            </table>
	        </div>
	    </div>
    </div>
</div>
<script src="/plug/beyond/js/toastr/toastr.js"></script>
<script type="text/javascript">
    <%if(comm){%>
    $(function(){
        Notify('你有新的消息请注意查收.', 'bottom-right', '5000', 'danger', 'fa-envelope-o', true);
    });
    <%}%>
    function current(){
        var d=new Date(),str='';
        str +=d.getFullYear()+'年'; //获取当前年份
        str +=d.getMonth()+1+'月'; //获取当前月份（0——11）
        str +=d.getDate()+'日';
        str +=' '+d.getHours()+'时';
        str +=d.getMinutes()+'分';
        str +=d.getSeconds()+'秒';
        return str;
    }
    $("#sys-time").html(current);
    setInterval(function(){$("#sys-time").html(current)},1000);
</script>
<%include ../public/footer.html%>
