<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
      <!-- Page Sidebar -->
        <div class="page-sidebar" id="sidebar">
            <!-- Page Sidebar Header-->
            <div class="sidebar-header-wrapper">
                <input type="text" class="searchinput" />
                <i class="searchicon fa fa-search"></i>
                <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
            </div>
            <!-- /Page Sidebar Header -->
            <!-- Sidebar Menu -->
            <ul class="nav sidebar-menu">
                <!--Dashboard-->
                <li <%if(locals.url=='/admin/index'){%>class="active"<%}%>>
                    <a href="/admin/index">
                        <i class="menu-icon glyphicon glyphicon-home"></i>
                        <span class="menu-text">仪表盘</span>
                    </a>
                </li>
                <li <%if(locals.url=='/admin/config'){%>class="active"<%}%>>
                    <a href="/admin/config">
                        <i class="menu-icon fa fa-cogs"></i>
                        <span class="menu-text">网站配置</span>
                    </a>
                </li>
                <li>
                   <a href="#" class="menu-dropdown">
                       <i class="menu-icon fa  fa-krw"></i>
                       <span class="menu-text">文档管理</span>
                       <i class="menu-expand"></i>
                   </a>
                   <ul class="submenu">
                       <li>
                           <a href="tables-simple.html">
                              <i class="menu-icon fa  fa-list"></i>
                               <span class="menu-text">文档列表</span>
                           </a>
                       </li>
                       <li>
                           <a href="tables-data.html">
                               <i class="menu-icon fa  fa-trash-o"></i>
                               <span class="menu-text">回收站</span>
                           </a>
                       </li>
                   </ul>
               </li>
            </ul>
            <!-- /Sidebar Menu -->
        </div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="/admin/index">首页</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><%=locals.title%></a>
                    </li>
                    <li class="active"><%=locals.title1%></li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Header -->
            <div class="page-header position-relative">
                <div class="header-title">
                    <h1>
                        <%=locals.title%>
                        <small>
                            <i class="fa fa-angle-right"></i>
                            <%=locals.title1%>
                        </small>
                    </h1>
                </div>
                <!--Header Buttons-->
                <div class="header-buttons">
                    <a class="sidebar-toggler" href="#">
                        <i class="fa fa-arrows-h"></i>
                    </a>
                    <a class="refresh" id="refresh-toggler" href="">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                    <a class="fullscreen" id="fullscreen-toggler" href="#">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                    </a>
                </div>
                <!--Header Buttons End-->
            </div>
            <!-- /Page Header -->

<script type="text/javascript">
  (function(){
      //var li = $('li.active').parent('ul.submenu').parent('li');
      //$('li.active .open').find('ul.submenu>li:first').addClass('active');
      //li.addClass('open');
  })();
  function getQueryString(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
      var r = window.location.search.substr(1).match(reg);
      if (r != null) return unescape(r[2]); return null;
  }
</script>
